@import 'dropzone/dist/dropzone.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

/* Custom CSS Needed for TipTap PlaceHolder */
.ProseMirror p.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
    padding-left: 2px;
  }

.dropzoneDragArea {
    background-color: #fbfdff;
    border: 1px dashed #c0ccda;
    border-radius: 6px;
    padding: 60px;
    text-align: center;
    margin-bottom: 15px;
    cursor: pointer;
}

.dropzone {
    border-width: 0px;
}

.menu_pp {
    overflow: hidden;
    max-height: 0px;
    transition: max-height 0.5s ease;
}

#scroll_bar_hidden {
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none; /* Masque la barre de défilement dans Firefox */
    -ms-overflow-style: none; /* Masque la barre de défilement dans IE et Edge */
}

#scroll-container::-webkit-scrollbar {
    display: none; /* Masque la barre de défilement dans Chrome, Safari et Opera */
}
